node_modules/
dist/
dist-ssr/
*.local
.env.production

# logs
logs/
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test
coverage/
